// Navigation Styles here

@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');


.toppart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
    
    .logo{
        font-size: 3.6rem;
        font-family: 'Indie Flower', cursive;
        font-weight: bold;
    }

    nav{
        width: 46%;
        display: flex;
        justify-content: space-around;
        font-size: 1.3rem;
        a{
            color: black;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
              }
        }
    }

}



